@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@config "../tailwind.config.cjs";

@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: #44403c white;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #44403c;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
  border: 3px solid #44403c;
}

@tailwind components;
@tailwind utilities;
