.testTranslateContainer {
 width: 300px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 background-color: black;
}


.testTranslateFR {
    width: 75px;
    height: 75px;
    background-color: blue;
    text-align: center;
    color: white;
}


.testTranslateEN {
    width: 75px;
    height: 75px;
    background-color: red;
    text-align: center;
    color: white;
}

.testTranslateContainer p {
    color: white;
}